.editor-container {
  position: relative; /* Set the position to relative */
  width: 80%;
  height: 70vh;
  margin: 15vh auto ;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
  overflow: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.title {
  position: absolute;
  top: 9vh; 
  right: 90vh;
  font-weight: bold; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}

.editor {
  height: 70vh;
  white-space: pre; 
  overflow-x: auto; 
}

.button {
  position: absolute;
  top: 10px; 
  right: 10px;
  display: block;
  width: 100px; 
  margin: 7vh 20vh ;
  padding: 10px 15px;
  text-align: center; 
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
